<div class="container" style="background-color:black;color:white; width:100%">
  <div class="row">
    <div class="col-sm-12">
      <ul style="list-style-type: none">
        <li style="float: left"><a href="/" style="display:block; color:white; text-align: center; padding: 14px 16px; text-decoration: none">HOME</a></li>
        <li style="float: left"><a href="/help" style="display:block; color:white; text-align: center; padding: 14px 16px; text-decoration: none">HELP</a></li>
        <li style="float: left"><a href="/regulation" style="display:block; color:white; text-align: center; padding: 14px 16px; text-decoration: none">REGULATION</a></li>
        <li style="float: left"><a href="/about" style="display:block; color:white; text-align: center; padding: 14px 16px; text-decoration: none">ABOUT</a></li>
        <li style="float: left"><a href="/peta" style="display:block; color:white; text-align: center; padding: 14px 16px; text-decoration: none">PETA</a></li>
        <li style="float: left"><a href="/login" style="display:block; color:white; text-align: center; padding: 14px 16px; text-decoration: none">SIGN IN</a></li>
      </ul>
    </div>
  </div>
</div>
