<% include partials/header %>
<% include partials/menu %>

<div class="container-fluid" style="width:100%">
  <div class="row">
    <div class="col-sm-12">
      <body>
      masi kosong
      </body>
      <h1>ABOUT</h1>
      <p></p>
    </div>
  </div>
</div>

<% include partials/footer %>
